<ion-view view-title="{{thread.title}}">
  <ion-content>
    <ion-list>
      <div ng-repeat="post in thread.posts">
          <div class="posthead">
            <strong>{{post.poster.name}}</strong> - Posted {{ post.date }}
          </div>

          <ion-item ng-href="#/tab/threads/{{thread.id}}">
            <div class="postbit" ng-bind-html="post.body"/>
          </ion-item>
        </div>
      </div>
      <div class="button-bar bar-assertive">
        <a class="button" ng-click="prevPage()" ng-disabled="thread.page == 1">Previous Page</a>
        <a class="button" ng-click="nextPage()">Next Page</a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
